body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    color: #000000;
    background: #000000 url(www/img/marble.jpg);
    background-size: cover;
    vertical-align: middle;
    width: 900px;
}

#wrapEverything {
    text-align: center;
    color: red;
}

a{
    color: #343434;
    text-decoration: none;
}

.header {
    padding: 0px 0px 0px 0px;
    height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
}
#curdate{
    text-align: right;
}

.logo {
    margin-bottom: 20px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.footer {

    clear: both;
    padding: 5px 10px;
}

.footer p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75%;
    text-align: right;
}

ul{
    text-align: center;
}
.nav {
    float: right;
    font-family: Helvetica, Arial, sans-serif;
    padding: 45px 0px 0px 0px;
    text-align: right;
    color: #dd0b46;
    background-image: url("www/img/university-library.jpg")
}

*
{
    margin: 0 auto 0 auto;
    text-align:left;}

#page
{
    display: block; 
    height:auto; 
    width: 900px;
    text-align: center;
}

.topNaviagationLink
{
    text-align:center;
    position:relative;
    margin-top:30px;
    font-size:16px;
    margin-left:-10px;
    width:121px;
    height: 35px;
    line-height: 35px;
    float:left;
    color:#000000;
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.topNaviagationLink a
{
    text-decoration:none;
    color:#000000;
    margin-bottom:0px;
}

.topNaviagationLink a:hover
{
    text-align:center;
    color:#FFFFFF;
    display: block;
    width:121px;
    height: 35px;
    line-height: 35px;
    background-image:url(www/img/tab.png);
    border-bottom:none;
}

#mainPicture
{
    clear:both;
    width:900px;
    height:auto;
    background-image: url(www/img/library.jpg);
    background-size: cover;
    opacity: .75;
}

#mainPicture .picture
{
    position:relative;
    width:880px;
    height:325px;
    top:10px;
    margin-left:10px;
    background-image:url(www/img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

#headerTitle
{
    position:relative;
    top:14px;
    left:22px;

}

#headerSubtext
{
    top:12px;
    left:120px;
    font-size:34px;
    color: red;
    width: 900px;
    text-align: center;
    font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

.contentBox
{
    margin-top:10px;
    width:900px;
    height:670px;
    background-color:#000000;
}

.contentBox .innerBox
{
    position: relative;
    width:880px;
    height: 650px;
    top:10px;
    margin-left:10px;
    background-color:#FFFFFF;
}

h1
{
    font-size:25px;
    margin-bottom:10px;
    padding-top:18px;
    margin-left:15px;
    margin-top:15px;
    color:#1F1603;
}

.contentText
{
    font-size:13px;
    line-height:24px;
    margin-left:13px;
    margin-right:13px;
}

a
{
    border-bottom:dotted 1px;
}

a:hover
{
    color:#000000;
    text-decoration:none;
    border-bottom:dotted 2px;
}

a:visited
{
    color:#000000;
}

p {text-align: left;}

/* styles of the book details table */
table.bookdetails {
    width: 100%;
    border-collapse: collapse;
    font: 12px/18px Arial, Sans-serif;
    margin: 5px 0;
}

table.bookdetails td {
    vertical-align: top;
}

table.bookdetails h4, table.bookdetails p {
    margin: 0px 0px 5px 10px;
}

table.bookdetails td.col1 {
    width: 180px;
}

table.bookdetails td.col1 img {
    width: 160px;
}

table.bookdetails td.col4 {
    padding-left: 25px;
    vertical-align: top;
}

table.bookdetails td.col4 img{
    border: none;
    width: 100px;
}

table {
    width: 900px;
    padding: 3px;
    border-spacing: 0px;
    border: 1px solid black;
    margin-bottom: 10px;
}

tr, td, th {
    border: 1px solid silver;
    padding: 5px;
}

.tableContain {
    text-align: center;
}

h2.tableHeading {
    font-weight: bold;
}

li {
    display:inline-block;
    margin: 5px;
}

a{
    color: #343434;
    text-decoration: none;
}

.header {
    padding: 0px 0px 0px 0px;
    height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
}

.nav {
    float: right;
    font-family: Helvetica, Arial, sans-serif;
    padding: 45px 0px 0px 0px;
    text-align: right;
    color: #dd0b46;
    background-image: url("www/img/university-library.jpg");
    width: 800px;
}

.wrapper {
    width: 960px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.footer {

    clear: both;
    padding: 5px 10px;
}

.footer p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75%;
    text-align: right;
}

#list {
    width: 100%;
}

.left {
    float: left;
    width: 15%;
}

.tableHeader {
    font-weight: bold;
}

table h4 {
    border: 1px solid silver;
}

table p {
    border: 1px solid silver;
}